#background {
    background-color:	#161118;
}

#disco {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 900px;
}

#click-me {
    color: white;
}

#portfolio-btn {
    width: 100px;
    height: 30px;
    position: absolute;
    font-size: 20px;
    font-family: "Papyrus";
    background-color: #D3D3D3;
    border-radius: 8px;
}

